@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  background-color: #23252c;
  font-family: "Inter", sans-serif;
}

.App {
  margin: auto;
  width: 500px;
  border-radius: 0px 0px 10px 10px;
}

/* Info */
.info {
  margin-top: 3rem;
  width: inherit;
}

.info--photo {
  height: 500px;
  width: inherit;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.info--name {
  color: white;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.info--position {
  color: #f3bf99;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}

.info--website {
  color: #f5f5f5;
  text-decoration: none;
}

.info--website__text {
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}

.info--connect {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.info--connect__email,
.info--connect__linkedin {
  text-decoration: none;
  padding: 0.8rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
}

.info--connect__email {
  background-color: #ffffff;
  border: 1px solid #d1d5db;
  color: #374151;
}

.info--connect__linkedin {
  color: #ffffff;
  background-color: #5093e2;
}

.info--connect__email__icon,
.info--connect__linkedin__icon {
  height: 30px;
}

/* Bio */
.bio {
  margin: 3rem 2.5rem;
}

.bio--about,
.bio--interests {
  margin: 2rem 0;
  display: block;
}

.bio--about__title,
.bio--interests__title {
  color: #dcdcdc;
  font-weight: 700;
  line-height: 150%;
  display: inline;
  font-size: 30px;
}

.bio--about__description,
.bio--interests__description {
  color: #f5f5f5;
  line-height: 150%;
  font-weight: 400;
  inline-size: 385px;
  overflow-wrap: break-word;
  margin-top: 0;
  font-size: 16px;
}

.footer {
  display: flex;
  height: 7rem;
  width: inherit;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.footer--links__icon {
  height: 5vh;
}
